<div class="container popup-main">
    <div class="row popup-header-div">
        <div class="col-12">
            PHOTO/VIDEO REQUEST
            <button type="button" class="close-btn" (click)="closeMe()">&times;</button>
        </div>
    </div>
    <div class="popup-body">
        <form (ngSubmit)="onSubmit()">
            <div class="row input-row">
                <div class="col-sm-6 col-12">
                    <label>Project Name*</label>
                    <input mdbInput type="text" class="form-control" id="name"  [(ngModel)]="model.name" name="name" #name="ngModel"/>
                </div>
                <div class="col-sm-6 col-12">
                    <label>Photoshoot or Video Shoot?*</label>
                    <select mdbInput required class="form-control" name="shootType" [(ngModel)]="model.shootType" #shootType="ngModel">
                        <option *ngFor="let type of shootTypes" [value]="type.name" >{{type.title}}</option>
                    </select>
                </div>
            </div>
            <div class="row input-row">
                <div class="col-12">
                    <label>Description*</label>
                    <textarea mdbInput rows="5" cols="40" class="form-control" [(ngModel)]="model.description" name="description" #description="ngModel"></textarea>
                </div>
            </div>
            <div class="row input-row">
                <div class="col-sm-6 col-12">
                    <label>Contact(s) for Scheduling</label>
                    <div class="row contact-reviews" *ngFor="let contactReview of model.contactSchedules; let i = index; trackBy: onTrackBy">
                        <div class="col-10">
                            <select mdbInput required class="form-control" [name]="'contactSchedule'+i" [(ngModel)]="model.contactSchedules[i]" (change)="ChangeContactsValue($event, i)">
                                <option [value]="item.name" *ngFor="let item of scheduleOptions">{{item.title}}</option>
                            </select>
                        </div>
                        <div class="col-2">
                            <button class="add-button" (click)="i == 0 ? addContacts(): removeContacts(i)">{{i==0?'+':'-'}}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row input-row">
                <div class="col-sm-6 col-12" (click)="file.click()">
                    <div draggable="true" ngClass="{{dragAreaClass}}">
                        <div class="row">
                            <span class="file-icon">
                                <fa-icon [icon]="['fas', 'upload']"></fa-icon>
                            </span>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <div class="drag-txt">Click or Drag & Drop your files here</div>
                                <input type="file" #file [multiple]="false" (change)="onFileChange($event)"
                                    style="display:none" />
                            </div>
                        </div>
                    </div>
                    <div class="error" *ngIf="error">
                        Only one file at time allow
                    </div>
                </div>
                <div class="col-sm-6 col-12" (click)="file.click()">
                    <div draggable="true" ngClass="{{dragAreaClass}}">
                        <div class="row">
                            <span class="file-icon">
                                <fa-icon [icon]="['fas', 'upload']"></fa-icon>
                            </span>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <div class="drag-txt">Click or Drag & Drop your images here</div>
                                <input type="file" #file [multiple]="false" (change)="onFileChange($event)"
                                    style="display:none" />
                            </div>
                        </div>
                    </div>
                    <div class="error" *ngIf="error">
                        Only one file at time allow
                    </div>
                </div>
            </div>
            <button type="submit" mat-raised-button class="submit-button">Submit</button>
        </form>
    </div>
</div>