.row.popup-header-div {
    text-align: center;
    min-height: 46px;
    background: #153c6e;
    line-height: 44px;
    color: #fff;
}

::ng-deep.mat-dialog-container {
    padding: 0px 0px 18px 0px !important;
    border-radius: 0 !important;
    border: 1px solid #153c6e !important;
}
.mat-form-field {
    width: 100%;
}
.input-row {
    /* margin-top: 26px; */
    padding: 16px 0px 0px 0px;
}
button.submit-button {
    background: #82c242;
    color: #fff;
    width: 101px;
    border-radius: 18px;
    text-transform: uppercase;
    margin-top: 25px;
}
.error {
    color: #f00;
}

.droparea {
    font-size: 1.5rem;
    border: 3px dashed #bbb;
    padding: 1.5rem;
    background-color: #eff;
    color: #aaa;
}
.dragarea {
    font-size: 12px;
    background: #f6f6f6;
    color: #000;
    border: 1px solid #b9b9b9;
    padding-top: 5px;
    padding-bottom: 5px;
}

.dragarea .file-icon {
    margin: auto;
    text-align: center;
    font-size: 30px;
    color: #666666;
}
.dragarea .drag-txt {
    font-size: 10px;
}
button.add-button {
    height: 34px;
    padding: 0px;
    margin-left: -18px;
    background: transparent;
    border-radius: 24px;
    width: 33px;
    /* font-size: 24px; */
    border-color: #8d8e90;
}
.contact-reviews {
    margin-bottom: 10px;
}

.form-control {
    border: 1px solid #153c6e;
}
.popup-body {
    max-height: 700px;
    overflow-y: auto;
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 15px;
    padding-right: 15px;
}
form label {
    font-size: 12px;
}

.invalid-feedback {
    display: inline;
}
