.submit-row {
    display: flex;
    justify-content: flex-end;
}
.status-btn {
    color: white;
    border: none;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}
.disable-btn {
    background: gray;
}
.activee-btn {
    background: #003b70;
}
