<div class="container popup-group" style="margin-top: 20px;">
    <div class="row">
        <div class="col-12 col-sm-4">
            <button mat-raised-button (click)="openItemRequest()">((ITEM)) REQUEST</button>
        </div>
        
        <div class="col-12 col-sm-4">
            <button mat-raised-button (click)="openItemGraphic()">GRAPHIC DESIGN REQUEST</button>
        </div>
        
        <div class="col-12 col-sm-4">
            <button mat-raised-button (click)="openItemPhoto()">PHOTO/VIDEO REQUEST</button>
        </div>

        <div class="col-12 col-sm-4">
            <button mat-raised-button (click)="openItemWebsite()">WEBSITE DESIGN & DEVELOPMENT REQUEST</button>
        </div>

        <div class="col-12 col-sm-4">
            <button mat-raised-button (click)="openItemPaid()">PAID ADVERTISING</button>
        </div>

        <div class="col-12 col-sm-4">
            <button mat-raised-button (click)="openItemSocial()">SOCIAL MEDIA REQUEST</button>
        </div>

        <div class="col-12 col-sm-4">
            <button mat-raised-button (click)="openItemSupport()">SUPPORT REQUEST</button>
        </div>

        <div class="col-12 col-sm-4">
            <button mat-raised-button (click)="openItemUrgent()">URGENT WEBSITE REQUEST</button>
        </div>

        <div class="col-12 col-sm-4">
            <button mat-raised-button (click)="openItemInvite()">INVITE TEAM MEMBER</button>
        </div>

        <div class="col-12 col-sm-4">
            <button mat-raised-button (click)="openItemDeny()">DENY</button>
        </div>

        <div class="col-12 col-sm-4">
            <button mat-raised-button (click)="openRequestChange()">REQUEST CHANGE</button>
        </div>
    </div>
</div>

