<div class="container popup-main">
    <div class="popup-body">
        <form (ngSubmit)="onSubmit()">
            <div class="row input-row">
                <div class="offset-sm-9 col-sm-3 col-12">
                    <button class="status-btn deny-btn">DENY</button>
                </div>
            </div>
            <div class="row input-row">
                <div class="col-12">
                    <textarea mdbInput rows="5" cols="40" placeholder="Type reason here..." class="form-control" [(ngModel)]="model.reason" name="reason" #reason="ngModel"></textarea>
                </div>
            </div>
            <div class="row input-row">
                <div *ngFor="let item of denyOptions; let i = index;  trackBy: onTrackBy" class="col-sm-4 col-12">
                    <button class="status-btn {{model.type == item.name?'activee-btn':'disable-btn'}}" (click)="changeStatus(item.name)">{{item.title}}</button>
                </div>
            </div>
            <div class="row">
                <div class="col-12 submit-row">
                    <button type="submit" mat-raised-button class="submit-button">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>