<div class="container popup-main">
    <div class="row popup-header-div">
        <div class="col-12">
            ((ITEM)) REQUEST
            <button type="button" class="close-btn" (click)="closeMe()">&times;</button>
        </div>
    </div>
    <div class="popup-body">
        <form [formGroup]="requiestForm" (ngSubmit)="onSubmit()">
            <div class="row input-row">
                <div class="col-12">
                    <label>Project Name<span class="required">*</span></label>
                    <input mdbInput type="text" class="form-control" id="name" formControlName="name"  name="name" />
                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                        <div *ngIf="f.name.errors.required">Project Name is required</div>
                    </div>
                </div>
            </div>
            <div class="row input-row">
                <div class="col-12">
                    <label>Description<span class="required">*</span></label>
                    <textarea mdbInput rows="5" cols="40" class="form-control" formControlName="description" name="description" ></textarea>
                    <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                        <div *ngIf="f.description.errors.required">Description is required</div>
                    </div>
                </div>
            </div>
            <div class="row input-row">
                <div class="col-sm-12 col-lg-6">
                    <label>Request Date Needed<span class="required">*</span></label>
                    <input mdbInput type="date" class="form-control" placeholder="Project Name" formControlName="requestDate"  name="requestDate"/>
                    <div *ngIf="submitted && f.requestDate.errors" class="invalid-feedback">
                        <div *ngIf="f.requestDate.errors.required">Request Date is required</div>
                    </div>
                </div>
                <div class="col-sm-12 col-lg-6">
                    <label>Contact(s) for review<span class="required">*</span></label>
                    <div class="row contact-reviews" *ngFor="let contactReview of model.contactsReviews; let i = index; trackBy: onTrackBy">
                        <div class="col-10">
                            <select mdbInput required class="form-control" formControlName="contactsReviews" [name]="'contactReview'+i"  (change)="ChangeContactsValue($event, i)">
                                <option [value]="item.name" *ngFor="let item of contactItems">{{item.title}}</option>
                            </select>
                            <div *ngIf="submitted && f.contactsReviews.errors" class="invalid-feedback">
                                <div *ngIf="f.contactsReviews.errors.required">Contacts Reviews are required</div>
                            </div>
                        </div>
                        <div class="col-2">
                            <button class="add-button" (click)="i == 0 ? addContacts(): removeContacts(i)">{{i==0?'+':'-'}}</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row input-row">
                <div class="col-sm-12 col-lg-6" (click)="file.click()">
                    <div draggable="true" ngClass="{{dragAreaClass}}">
                        <div class="row">
                            <span class="file-icon">
                                <fa-icon [icon]="['fas', 'upload']"></fa-icon>
                            </span>
                        </div>
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <div class="drag-txt">Click or Drag & Drop your files here </div>
                                <input type="file" #file [multiple]="true" name="files"  formControlName="filesUploaded" (change)="onFileChange($event)"
                                    style="display:none" />
                            </div>
                        </div>
                    </div>
                    <div class="error" *ngIf="error">
                        Only one file at time allow
                    </div>
                </div>
                <div class="col-sm-12 col-lg-6" (click)="file.click()">
                    <div draggable="true" ngClass="{{dragAreaClass}}">
                        <div class="row">
                            <span class="file-icon">
                                <fa-icon [icon]="['fas', 'upload']"></fa-icon>
                            </span>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-12 text-center">
                                <div class="drag-txt">Click or Drag & Drop your images here</div>
                                <input type="file" #file [multiple]="true" formControlName="imagesUploaded" (change)="onFileChange($event)"
                                    style="display:none" />
                            </div>
                        </div>
                    </div>
                    <div class="error" *ngIf="error">
                        Only one file at time allow
                    </div>
                </div>
            </div>
            <button type="submit" mat-raised-button class="submit-button">Submit</button>
        </form>
    </div>
</div>